<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>Archetype Created Web Application</display-name>
    <!--Welcome files-->
    <servlet>
        <servlet-name>AdminDemands</servlet-name>
        <servlet-class>com.org.Controllers.AdminDemands</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewDashboard</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminJourneys</servlet-name>
        <url-pattern>/admin/journeys</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDemands</servlet-name>
        <url-pattern>/admin/demands</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdminCancelDemand</servlet-name>
        <servlet-class>com.org.Controllers.AdminCancelDemand</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminCancelDemand</servlet-name>
        <url-pattern>/admin/demand/cancel/*</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>login</welcome-file>
    </welcome-file-list>
    <!--Resources-->
    <resource-env-ref>
        <resource-env-ref-name>jdbc/db</resource-env-ref-name>
        <resource-env-ref-type>javax.sql.DataSource</resource-env-ref-type>
    </resource-env-ref>
    <!--Servlets-->
    <!--Shared Routes-->
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.org.Controllers.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewDashboard</servlet-name>
        <servlet-class>com.org.Controllers.ViewDashboard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminJourneys</servlet-name>
        <servlet-class>com.org.Controllers.AdminJourneys</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>com.org.Controllers.Logout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <!--Customer Routes-->
    <servlet>
        <servlet-name>RegisterCustomer</servlet-name>
        <servlet-class>com.org.Controllers.RegisterCustomer</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterCustomer</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>com.org.Controllers.CustomerDashboard</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>MakeDemand</servlet-name>
        <servlet-class>com.org.Controllers.MakeDemand</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MakeDemand</servlet-name>
        <url-pattern>/order</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ViewPendingDemand</servlet-name>
        <servlet-class>com.org.Controllers.ViewPendingDemand</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewPendingDemand</servlet-name>
        <url-pattern>/order/pending</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ViewUnpaidJournies</servlet-name>
        <servlet-class>com.org.Controllers.ViewUnpaidJournies</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewUnpaidJournies</servlet-name>
        <url-pattern>/journies</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ViewJourney</servlet-name>
        <servlet-class>com.org.Controllers.ViewJourney</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewJourney</servlet-name>
        <url-pattern>/journey/view/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>MakeTransaction</servlet-name>
        <servlet-class>com.org.Controllers.MakeTransaction</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MakeTransaction</servlet-name>
        <url-pattern>/pay/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CompleteDemand</servlet-name>
        <servlet-class>com.org.Controllers.CompleteDemand</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CompleteDemand</servlet-name>
        <url-pattern>/order/complete</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CancelDemandCustomer</servlet-name>
        <servlet-class>com.org.Controllers.CancelDemand</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CancelDemandCustomer</servlet-name>
        <url-pattern>/order/cancel/*</url-pattern>
    </servlet-mapping>
    <!--Admin Routes-->
    <servlet>
        <servlet-name>AdminHome</servlet-name>
        <servlet-class>com.org.Controllers.AdminDashboard</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminHome</servlet-name>
        <url-pattern>/admin/home</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ViewDrivers</servlet-name>
        <servlet-class>com.org.Controllers.ViewDrivers</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewDrivers</servlet-name>
        <url-pattern>/admin/drivers</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ViewCustomers</servlet-name>
        <servlet-class>com.org.Controllers.ViewCustomers</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewCustomers</servlet-name>
        <url-pattern>/admin/customers</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ViewTransactions</servlet-name>
        <servlet-class>com.org.Controllers.ViewTransactions</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewTransactions</servlet-name>
        <url-pattern>/admin/transactions</url-pattern>
    </servlet-mapping>
    <!-- Edits-->
    <servlet>
        <servlet-name>ViewTransaction</servlet-name>
        <servlet-class>com.org.Controllers.ViewTransaction</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewTransaction</servlet-name>
        <url-pattern>/admin/transaction/view/*</url-pattern>
    </servlet-mapping>
    <!--edits-->
    <servlet>
        <servlet-name>RegisterDrivers</servlet-name>
        <servlet-class>com.org.Controllers.RegisterDrivers</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterDrivers</servlet-name>
        <url-pattern>/admin/drivers/register</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GenerateReport</servlet-name>
        <servlet-class>com.org.Controllers.GenerateReport</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GenerateReport</servlet-name>
        <url-pattern>/admin/report</url-pattern>
    </servlet-mapping>	
    <!--Driver routes-->
    <servlet>
        <servlet-name>ViewOutstandingDemands</servlet-name>
        <servlet-class>com.org.Controllers.ViewOutstandingDemands</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewOutstandingDemands</servlet-name>
        <url-pattern>/driver/orders</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ViewOutstandingDemand</servlet-name>
        <servlet-class>com.org.Controllers.ViewOutstandingDemand</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewOutstandingDemand</servlet-name>
        <url-pattern>/driver/order/outstanding/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ViewAcceptedDemand</servlet-name>
        <servlet-class>com.org.Controllers.ViewAcceptedDemand</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewAcceptedDemand</servlet-name>
        <url-pattern>/driver/order/accepted</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CancelDemandDriver</servlet-name>
        <servlet-class>com.org.Controllers.CancelDemand</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CancelDemandDriver</servlet-name>
        <url-pattern>/driver/order/cancel/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DriverHome</servlet-name>
        <servlet-class>com.org.Controllers.DriverDashboard</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DriverHome</servlet-name>
        <url-pattern>/driver/home</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AcceptDemand</servlet-name>
        <servlet-class>com.org.Controllers.AcceptDemand</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AcceptDemand</servlet-name>
        <url-pattern>/driver/order/accept/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ViewDriverJournies</servlet-name>
        <servlet-class>com.org.Controllers.ViewDriverJournies</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewDriverJournies</servlet-name>
        <url-pattern>/driver/journies</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ViewDriverJourney</servlet-name>
        <servlet-class>com.org.Controllers.ViewDriverJourney</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewDriverJourney</servlet-name>
        <url-pattern>/driver/journey/view/*</url-pattern>
    </servlet-mapping>	
</web-app>
