<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>

  <!--Welcome files-->
  <welcome-file-list>
    <welcome-file>login</welcome-file>
  </welcome-file-list>

  <!--Resources-->
  <resource-env-ref>
    <resource-env-ref-name>jdbc/db</resource-env-ref-name>
    <resource-env-ref-type>javax.sql.DataSource</resource-env-ref-type>
  </resource-env-ref>

  <!--Servlets-->
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.org.Controllers.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>

  <!--<servlet>-->
    <!--<servlet-name>Register</servlet-name>-->
    <!--<servlet-class>com.org.Controllers.Register</servlet-class>-->
  <!--</servlet>-->
  <!--<servlet-mapping>-->
    <!--<servlet-name>Register</servlet-name>-->
    <!--<url-pattern>/register</url-pattern>-->
  <!--</servlet-mapping>-->

  <servlet>
    <servlet-name>Home</servlet-name>
    <servlet-class>com.org.Controllers.CustomerDashboard</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Home</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>AdminHome</servlet-name>
    <servlet-class>com.org.Controllers.AdminDashboard</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminHome</servlet-name>
    <url-pattern>/admin/home</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>DriverHome</servlet-name>
    <servlet-class>com.org.Controllers.DriverDashboard</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DriverHome</servlet-name>
    <url-pattern>/driver/home</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>DemandsView</servlet-name>
    <servlet-class>com.org.Controllers.ViewDemands</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DemandsView</servlet-name>
    <url-pattern>/demands/view</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>AddDemand</servlet-name>
    <servlet-class>com.org.Controllers.AddDemand</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddDemand</servlet-name>
    <url-pattern>/demands/add</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>AddUser</servlet-name>
    <servlet-class>com.org.Controllers.AddUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUser</servlet-name>
    <url-pattern>/users/add</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>MakeDemand</servlet-name>
    <servlet-class>com.org.Controllers.MakeDemand</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MakeDemand</servlet-name>
    <url-pattern>/order</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ViewUnpaidJournies</servlet-name>
    <servlet-class>com.org.Controllers.ViewUnpaidJournies</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewUnpaidJournies</servlet-name>
    <url-pattern>/journies</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ViewJourney</servlet-name>
    <servlet-class>com.org.Controllers.ViewJourney</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewJourney</servlet-name>
    <url-pattern>/journey/view/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>MakeTransaction</servlet-name>
    <servlet-class>com.org.Controllers.MakeTransaction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MakeTransaction</servlet-name>
    <url-pattern>/pay/*</url-pattern>
  </servlet-mapping>
</web-app>
