<!DOCTYPE html>
<html lang="en">
<head>
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/alphaCab/static/css/material.min.css">
    <script src="/alphaCab/static/js/material.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <style>
        html, body{
                height: 100% !important;
            }

        .center{
            height: 100% !important;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    </style>
</head>
<body style="background: #c6c6c6;">
    <div id="container" style="height: 100%">
        <div class="center">
            <div class="mdl-card mdl-shadow--2dp" style="width: 50%; padding-bottom: 10px; padding-top: 10px; align-items: center;">
                <div class="mdl-card__title" style="height: 80px">
                    <h3 class="mdl-card__title text" style="color: #3f51b5; font-weight: 100;">
                        &#945; Cab - Login
                    </h3>
                </div>
                <form action="login" method="POST" style="width: 100%; padding-right: 0px;">
                    <div class="mdl-card__supporting-text">
                            <div class="mdl-textfield mdl-js-textfield" style="width: 100%">
                                <input type="text" class="mdl-textfield__input" name="email" required>
                                <label class="mdl-textfield__label">Email...</label>
                            </div>
                            <br>
                            <div class="mdl-textfield mdl-js-textfield" style="width: 100%">
                                <input type="password" class="mdl-textfield__input" name="password" required>
                                <label class="mdl-textfield__label">Password...</label>
                            </div>
                    </div>
                    <div class="mdl-card__actions mdl-card--border">
                        <button type="submit" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                            Login
                        </button>
                        <a href="/register" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                            Register
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
